body{
    margin: 0;
    padding: 0;
    background-image: url(about.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}
nav {

    text-align: center;
    font-size: 26px;
    color: bisque;
    font-family: Perpetua;
}
.about_text h3{
    text-align: center;
    margin-top: 90px;
    font-size: 32px;
    font-family: Garamond;
}
.about_text p{
    text-align: center;
    font-size:50px ;
    font-family: Garamond;
}

